<h2>Sign up</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <% if params[:plan] == '2' %>
     <h2 class="text-center">Pro Account</h2>
     <p class="text-center">Sign for a Pro account and get access to the community contacts, for $10/month</p>
  <% else %>
     <h2 class="text-center">Basic Account</h2>
     <p class="text-center">Sign for a free account and get basic access to the community.</p>
    <% end %> 
   </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <% if params[:plan] == '2' %>
        <%= render "pro_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>